<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>From my static Help Page</h1>
    <p>My name is {{name}} and {{message}}</p>
</body>


</html>